/* main */

.flex_item {
    display: flex;
    padding: 10px;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .flex_item {
        flex-direction: column;
    }
}

@media screen and (max-width: 480px) {
    .flex_item {
        flex-direction: column;
    }
}

.shop_inner {
    width: 40%;
    padding: 10px;
    border-right: 1px solid #C0C0C0;
}

@media screen and (max-width: 768px) {
    .shop_inner {
        margin: auto;
        width: 85%;
        border-right: none;
    }
}

@media screen and (max-width: 480px) {
    .shop_inner {
        margin: auto;
        width: 90%;
        border-right: none;
    }
}

.shop_card {
    width: 300px;
    box-shadow: 4px 4px 5px #C0C0C0;
    border-radius: 10px;
    margin: 15px auto;
}

@media screen and (max-width: 480px) {
    .shop_card {
        margin: 0 20px 20px auto;
    }
}

.shop_inner-ttl {
    font-size: 20px;
}

.card_img img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.card_content {
    padding: 15px 25px;
}

.shop_name {
    font-size: 25px;
    margin-bottom: 30px;
    font-weight: bold;
    margin: 0;
}

.tag {
    font-size: 14px;
    margin: 0;
}

.tag_area,
.tag_genre {
    display: inline-block;
    margin: 0;
}

.btn_flex {
    margin-top: 10px;
}

.shop_btn {
    color: white;
    background-color: #0051FF;
    border-radius: 5px;
    margin-top: 5px;
    padding: 5px 15px;
}

.form_inner {
    width: 60%;
    margin: 70px 30px;
}

@media screen and (max-width: 768px) {
    .form_inner {
        margin: auto;
        width: 85%;
    }
}

@media screen and (max-width: 480px) {
    .form_inner {
        margin: auto;
        width: 90%;
    }
}

.ttl_review {
    font-size: 25px;
}

.rate_form {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.rate_form input[type=radio] {
    display: none;
}

.rate_form label {
    position: relative;
    padding: 0 5px;
    color: #ccc;
    cursor: pointer;
    font-size: 35px;
}

.rate_form label:hover {
    color: #0051FF;
}

.rate_form label:hover~label {
    color: #0051FF;
}

.rate_form input[type=radio]:checked~label {
    color: #0051FF;
}

.rate_comment-text {
    width: 100%;
    height: 100px;
}

.form_btn {
    background-color: #ffff;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    margin: 15px auto;
    cursor: pointer;
}

.form_button-submit {
    background-color: transparent;
    border: none;
    outline: none;
    appearance: none;
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}

.error_msg {
    color: red;
    margin-top: 0;
}

@media screen and (max-width: 768px) {
    .error_msg {
        font-size: 12px;
    }
}

.inputlength {
    text-align: right;
    font-size: 10px;
    margin: 5px auto;
}

.rate_img-link {
    cursor: pointer;
}

.rate_img-drop {
    font-size: 10px;
}

.upload-box,
.preview-box {
    width: 100%;
    min-height: 150px;
    margin: 20px auto;
    padding: 5px;
    cursor: pointer;
}

.upload-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 80px;
    border: 1px solid #C0C0C0;
}

.preview-box img {
    width: 100%;
    object-fit: cover;
}