/* main */
.form_inner {
    padding: 10px;
    width: 60%;
    margin: 70px auto 0;
}

@media screen and (max-width: 768px) {
    .form_inner {
        margin: auto;
        width: 85%;
    }
}

@media screen and (max-width: 480px) {
    .form_inner {
        margin: auto;
        width: 90%;
    }
}

.form_inner-items {
    background-color: #0051FF;
    padding: 10px 30px 20px 30px;
    border-radius: 5px 5px 0 0;
}

.ttl_review {
    color: #ffff;
    font-size: 25px;
    font-weight: bold;
}

.rate_form {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.rate_form input[type=radio] {
    display: none;
}

.rate_form label {
    position: relative;
    padding: 0 5px;
    color: #ccc;
    cursor: pointer;
    font-size: 35px;
}

.rate_form label:hover {
    color: #ffcc00;
}

.rate_form label:hover~label {
    color: #ffcc00;
}

.rate_form input[type=radio]:checked~label {
    color: #ffcc00;
}

.rate_comment-text {
    width: 100%;
}

.form_btn {
    background-color: #0000FF;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 5px 5px;
}

.form_button-submit {
    color: white;
    background-color: transparent;
    border: none;
    outline: none;
    appearance: none;
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    text-align: center;
}

.error_msg {
    color: red;
    margin-top: 0;
}

@media screen and (max-width: 768px) {
    .error_msg {
        font-size: 12px;
    }
}






